<div class="index-body">
	<div class="container-fluid">
		<h1>Welcome to Bike Leuven</h1>
  		<h2>Your source for used bikes in Leuven</h2>

  		<div class="index_registration">
  			<% unless user_signed_in? %>
				<p><%= link_to('Register Now', new_user_registration_path) %></p>
				<p><%= link_to('Login', new_user_session_path) %></p>
  			<% end %>
  		</div>
	</div>
</div>