<div class="users_body">
  <h2>Listing Users</h2>

  <table>
    <thead>
      <tr>
        <th class="col-md-offset-1 col-md-2 active">
          <label>First Name</label>
        </th>
        <th class="col-md-2">Email</th>
        <th class="col-md-2">Admin</th>
        <th colspan="2" class="col-md-2">Modify</th>
      </tr>
    </thead>

    <tbody>
      <% @users.all.each do |u| %>
          <%= render partial: 'user', object: u %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path %>
</div>