<table>
	<tbody>
		<tr>
			<td><p>Dear <%= @name %>,
			</p></td>
		</tr>
		<tr>
			<td><p>Your order has been processed, and you will be receiving your <%= @product %> shortly.</p></td>
		</tr>
	</tbody>
</table>