// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_product_body,
.products_body {
	h2 {
		margin-top: 50px;
	}

	table {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		a:hover, a:active, a:focus {
			color: #999;
		}
	}

	p {
		margin: 10px 10px 50px 273px;
		a:hover, a:active, a:focus {
			color: #999;
		}	
	}

}

.product_form {
	display: block;	
}