<div class="new_product_body">

	<h1>New Product</h1>

	<div class="product_form">
		<%= render 'form' %>
	</div>

	<div class="row">
		<div class="col-md-offset-2">
			<%= link_to 'Back', products_path %>
		</div>
	</div>
</div>